.gallery{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #fff;
  @include container;


  &__item{
    background-color: #f2f2f2;

    &--special{

    }
  }

  &__item:not(:last-child){
   margin-bottom: 20px;
 }

 &__img-wpapper{
  max-width: 280px;
 }

 &__img{
  width: 100%;
 }

}
