.post{
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: #283645;


  &__details{
    margin: 0 auto;
    padding: 20px;
  }

  &__author{
    font-weight: bold;
    margin: 0;
    font-size: 14px;
    line-height: 24px;

    &__date{
      font-weight: 300;
      color: #949aa1;
      text-transform: uppercase;

    }
  }


  &__descr{
    font-weight: 400;
    color: #000;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
  }

  &__action{
    text-align: left;
  }
}
