.price{
 font-family: 'Open Sans', sans-serif;
 text-align: center;

 &__container{
   @include container;
 }

 &__table{
  width: 280px;

  &-heading{
    background-color: #283645;
    color:#fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;

    p{
      margin: 0;
    }
  }
 }
}


