.contacts {
  background-color: #ffffff;
  padding: 45px 0 70px 0;
  text-align: center;

  @media (min-width: $desktop-width) {
    padding-top: 65px;
  }

  .contacts__container {
    @include container;
  }

  .contacts__heading {
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    color: #283645;

    @media (min-width: $tablet-width) {
      font-size: 40px;
      line-height: 48px;
      max-width: 410px;
      margin: auto;
      margin-bottom: 25px;
    }

    @media (min-width: $desktop-width) {
      font-size: 50px;
      line-height: 1.2;
      max-width: 625px;
      margin-bottom: 35px;
    }
  }

  .contacts__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  .contacts__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 5px;
    }
  }

  .contacts__text {
    text-decoration: none;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: $theme-red-color;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }
}

.contacts__text:hover{
  color: #283645;
}

.contacts__text:active{
  color: #283645;
  opacity: 0.3;
}

.contacts__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .contacts__item {
    @media (min-width: $tablet-width) {
      max-width: 220px;
    }
  }

  .contacts__item:not(:last-child){
    margin-bottom: 30px;
  }
}

