.features {
  text-align: center;
  background-color: #f2f2f2;
  margin-bottom: -40px;

  .features__container {
    @include container;
  }

  .features__heading-group {
    padding: 35px 0 65px 0;
    background-color: #ffffff;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }

  .features__heading {
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    font-weight: 300;
  }

  @media (min-width: $tablet-width) {
    .features__heading {
      font-size: 40px;
      line-height: 48px;
      max-width: 590px;
      margin: 0 auto;
    }
  }

  @media (min-width: $tablet-width) {
    .features__wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  .features__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding-top: 55px;
  }

  @media (min-width: $tablet-width) {
    .features__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      max-width: 309px;
      padding-top: 0;
    }
  }

  .features__item {
    margin-bottom: 38px;
  }

  @media (min-width: $tablet-width) {
    .features__item:not(:last-child){
      margin-bottom: 0;
    }
  }

  .features__item-title {
    font-weight: bold;
    font-size: 18px;
  }

  .features__item-descr {
    font-weight: 300;
  }
}
