.form {
  @include container;
  background-color: #ffffff;
  text-align: center;
}

.form__descr {
  @include container;
  @include page-descr;
}

.form__section {
  font-size: 18px;
  line-height: 30px;
  color: #283645;

  &:first-child {
    padding-top: 0;
  }
}

.form > .form__section,
.form__section-wrapper {
  margin-bottom: 55px;
}

.form__section-wrapper > .form__section {
  @media (min-width: $desktop-width) {
    width: 440px;
  }
}

.form__section--light {
  background-color: #ffffff;
}

.form__section--dark {
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
  }
}

.form__section-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.form__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 55px;
  }
}

.form__label--dark {
  flex-direction: row;
  align-items: center;
}

.form__list > li:last-child label {
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__fielset {
  border: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    border: 2px solid #ececec;
    padding: 35px 40px;
  }
}

legend.form__caption {
  margin: 0 auto;
  padding: 0 20px;
}

.form__caption {
  color: $theme-red-color;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;

  &:last-child {
    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--contacts {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

.form__label--contacts {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 375px;
    margin-bottom: 0;
  }
}

.form__label-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.form__text-input {
  font-size: 18px;
  line-height: 30px;
  padding: 13px;
  border: 2px solid #e5e5e5;
  width: 280px;
  box-sizing: border-box;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 100%;
  }

  &--intro {
    @media (min-width: $tablet-width) {
      margin-left: 20px;
    }
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      border-right: 60px solid #e5e5e5;
    }
  }
}

.form__achievements {
  @include ul-reset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__user-platform {
  @include ul-reset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__textarea {
  width: 280px;
  height: 200px;
  resize: none;
  line-height: 30px;
  color: #283645;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    width: 500px;
  }
}

.form__submit-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.form__correction-symbol {
  color: $theme-red-color;
}

.form__btn {
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    padding: 16px 60px;
  }
}

