.gallery {
  text-align: center;
  background-color: #ffffff;

  .gallery__list-wrapper {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
    }
  }

  .gallery__item:not(.gallery__item--special) {
    @include container;

    @media (min-width: $tablet-width) {
      width: 300px;
      padding: 0;
    }
  }

  .gallery__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .gallery__img {
    display: block;
    width: 100%;
  }

  .gallery__img-wpapper--special {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}


