.main-header {
  background-color: #283645;
  font-size: 18px;
  line-height: 32px;

  .main-header__container {
    @include container;
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .main-header__container {
    padding: 0;
  }
}
