.main-nav {
  text-align: center;
}

.main-nav__list {
  @include ul-reset;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    border: none;
  }
}

.main-nav__item {
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;

  @media (min-width: $desktop-width) {
    border: none;
  }

  &:not(:last-child) {
    @media (min-width: $desktop-width) {
      margin-right: 45px;
    }
  }



  .main-nav__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    padding: 15px;
    display: inline-block;
    width: 100%;

    @media (min-width: $desktop-width) {
      text-transform: capitalize;
    }
  }
}

.main-nav__toggle {
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: #1c2530;
  cursor: pointer;
  border: none;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
