.map {
  height: 235px;
  position: relative;
}

.map::before {
  display: block;
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  border-right: 50vw solid transparent;
  border-top: 35px solid #fff;
  border-left: 50vw solid transparent;
}
