.page-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 170px;

  @media (min-width: $tablet-width) {
    min-height: 330px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 110px;
    min-height: 395px;
  }

  .page-title__container {
    @include container;
    padding: 0;
  }

  .page-title__heading {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: #ffffff;
    max-width: 300px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      font-size: 50px;
      line-height: 1.2;
      max-width: 475px;
    }

    @media (min-width: $desktop-width) {
      max-width: 870px;
      margin-bottom: 35px;
    }
  }
}
