.popup {
  display: none;
  width: 320px;
  background-color: #ffffff;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;


  @media (min-width: $tablet-width) {
    width: 460px;
    box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $desktop-width) {
    width: 780px;
  }

  .popup__container {
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 320px;
    }

    @media (min-width: $desktop-width) {
      width: 395px;
    }
  }

  .popup__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  .popup__descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}
