.post {
  text-align: left;
  color: #283645;
  background-color: #f2f2f2;
  min-height: 152px;
  margin: 0 auto;
  padding: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }



  .post__details {

    @media (min-width: $tablet-width) {
      margin: 0;
      width: 100%;
    }
  }

  .post__author {
    font-weight: bold;
    margin: 0;
  }

  .post__date {
    font-size: 14px;
    font-weight: 300;
    color: #949aa1;
    text-transform: uppercase;
  }

  .post__descr {
    font-weight: 400;
    color: #000000;
    margin: 0;
  }

  .post__action {
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .post__stats-count {
    font-family: "Open Sans", sans-serif;
  }

  .post__link,
  .post__stats-count{
    font-size:12px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: $theme-red-color;
    text-decoration: none;
    cursor: pointer;
  }
}


