.reviews {
  text-align: center;
  background-color: #f2f2f2;
  margin-top: -50px;
  z-index: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }

  .reviews__container {
    overflow: hidden;

    @media (min-width: $tablet-width) {
      @include container;
    }
  }

  .reviews__img {
    opacity: 0.2;
  }

  .reviews__item {
    background-color: #ffffff;
    padding: 45px 20px 80px 20px;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column-reverse;
      font-size: 18px;
      padding: 90px 0 65px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 40px;
    }
  }

  .reviews__item--hidden {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  .reviews__item-title {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      font-size: 24px;
      margin-top: 35px;
    }
  }

  .reviews__title-description {
    display: none;
    font-weight: 400;
    font-family: inherit;

    @media (min-width: $tablet-width) {
      display: block;
      font-size: 14px;
      margin-top: 5px;
    }

    @media (min-width: $desktop-width) {
      font-size: 18px;
      line-height: 30px;
    }
  }

  .reviews__item-text {
    margin: 0;
    color: #283645;
    line-height: 30px;
    font-weight: 400;

    @media (min-width: $tablet-width) {
      margin-bottom: 35px;
    }

    @media (min-width: $desktop-width) {
      max-width: 795px;
      margin: 0 auto;
      letter-spacing: 0.02em;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -35px;
    z-index: 10;
    width: 100%;
    height: 35px;
    background-image: linear-gradient(to top left, transparent 50%, #ffffff 50%);
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0;
    background-size: 100% 100%;

    @media (min-width: $tablet-width) {
      bottom: -50px;
      height: 50px;
    }

    @media (min-width: $desktop-width) {
      bottom: -80px;
      height: 80px;
    }
  }
}

.reviews__quotes {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    background-color: #ffffff;
    padding-top: 70px;
  }
}
