.social {
  padding: 33px 0;

  .social__link {
    display: inline-block;
    height: 53px;
    width: 53px;
    background-color: transparent;
    border-radius: 100%;
    border: 3px solid #dddfe0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;

    &--tw {
      background-image: url("../img/icon-twitter.svg");
    }

    &--fb {
      background-image: url("../img/icon-facebook.svg");
    }

    &--youtube {
      background-image: url("../img/icon-youtube.svg");
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .social__link:hover{
    border: 3px solid #283645;
  }

  .social__link:active{
    opacity: 0.3;
  }
}
